@font-face {
    font-family: "Poppins",
    src: url("_fonts/Poppins/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RobotoCondensed",
    src: url("_fonts/Roboto_Condensed/static/RobotoCondensed-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
* {
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 12px;
}
/** default icon styling */
.root {
    -fx-background-color: rgba(0,0,0,0);
}
.root.level1 {
    -fx-background-color: rgba(0,0,0,0.1);
}
.root.level2 {
    -fx-background-color: rgba(0,0,0,0.2);
}
.root.level3 {
    -fx-background-color: rgba(0,0,0,0.3);
}
.root.level4 {
    -fx-background-color: rgba(0,0,0,0.4);
}
.root.level5 {
    -fx-background-color: rgba(0,0,0,0.5);
}
.root.level6 {
    -fx-background-color: rgba(0,0,0,0.6);
}
.root.level7 {
    -fx-background-color: rgba(0,0,0,0.7);
}
.root.level8 {
    -fx-background-color: rgba(0,0,0,0.8);
}
.root.level9 {
    -fx-background-color: rgba(0,0,0,0.9);
}
.root.level10 {
    -fx-background-color: rgba(0,0,0,1.0);
}
.icon {
     -fx-text-fill: #000;
     -fx-font-size: 16px;
}
.parent-container {
    -fx-effect: dropshadow(one-pass-box,rgba(0,0,0,.3),2,1,1,2);
    -fx-font-family: "Poppins";
}

.close-btn:hover {
    -fx-background-color: red;
}
.close-btn:hover .icon {
    -fx-icon-color: #fff;
}
.button-container {
    -fx-pref-width: 250px;
    -fx-padding: 3px;
    -fx-background-color: transparent;
}
.scroll-container {
    -fx-background-color: red;
}
/**
    =================================
    ============== TOAST ============
    =================================

$toastSuccess: #2ecc71;
$toastInfo: #3498db;
$toastErr: #e74c3c;
$toastAlert: #f39c12;
$toastNeutral: #7f8cbd;
*/
.toast {
    -fx-padding: 3px;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-background-color: white;
}
.toast.success {
    -fx-border-color: transparent transparent #2ecc71 transparent;
}
.toast.success .toast-icon .icon {
    -fx-icon-color: #2ecc71;
}
.toast.error {
    -fx-border-color: transparent transparent #e74c3c transparent;
}
.toast.error .toast-icon .icon {
    -fx-icon-color: #e74c3c;
}
.toast.alert {
    -fx-border-color: transparent transparent #f39c12 transparent;
}
.toast.alert .toast-icon .icon {
    -fx-icon-color: #f39c12;
}
.toast.info {
    -fx-border-color: transparent transparent #3498db transparent;
}
.toast.info .toast-icon .icon {
    -fx-icon-color: #3498db;
}
.toast.neutral {
    -fx-border-color: transparent transparent #7f8cbd transparent;
}
.toast.neutral .toast-icon .icon {
    -fx-icon-color: #7f8cbd;
}
.toast-icon {
    -fx-width: 40px;
    -fx-padding: 3px;
}
.toast-icon .icon {
    -fx-icon-color: red;
}
.toast-message {
    -fx-font-family: "Poppins";
    -fx-min-width: 40px;
    -fx-max-width: 150px;
    -fx-font-size: 12px;
    -fx-text-fill: #000;
    -fx-line-spacing: -3;
}

/**
    ================================
    ======== COMMON ==========
    ================================
*/
.notification,
.prompt,
.dialog {
    -fx-min-width: 250px;
    -fx-max-width: 250px;
    -fx-text-fill: #eee;
    -fx-padding: 0;
    -fx-background-radius: 0;
    -fx-background-color: #fff;
}

.notification-head,
.prompt-head,
.dialog-head {
    -fx-padding: 0 0 2px 0;
    -fx-border: 0 0 1px 0;
    -fx-border-style: solid;
    -fx-border-color: transparent transparent #eee transparent;
    -fx-background-color: white;
}

.notification-title,
.prompt-title,
.dialog-title {
    -fx-font-family: "Roboto Condensed";
    -fx-pref-height: 25px;
    -fx-text-fill: #000;
    -fx-font-weight: 700;
    -fx-padding: 0 0 0 3px;
    -fx-background-color: inherit;
}

.notification-close,
.prompt-close,
.dialog-close {
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
    -fx-background-radius: 0;
    -fx-background-color: #eee;
    -fx-cursor: hand;
}

.notification-footer,
.prompt-footer,
.dialog-footer {
    -fx-padding: 2px;
    -fx-background-radius: 0;
    -fx-background-color: #eee;
}
.notification-footer .button,
.prompt-footer .button,
.dialog-footer .button {
    -fx-min-width: 40px;
    -fx-background-radius: 0;
    -fx-border-color: #e4e4e4;
    -fx-background-color: #e4e4e4;
    -fx-cursor: hand;
}
.notification-footer .button:hover,
.prompt-footer .button:hover,
.dialog-footer .button:hover {
    -fx-border-color: #e4e4e4;
    -fx-background-color: #eee;
}
/**
    ================================
    ======== NOTIFICATION ==========
    ================================
*/

.notification-title.success .icon {
    -fx-icon-color: #2ecc71;
}
.notification-title.error .icon {
    -fx-icon-color: #e74c3c;
}
.notification-title.alert .icon {
    -fx-icon-color: #f39c12;
}
.notification-title.info .icon {
    -fx-icon-color: #3498db;
}
.notification-title.neutral .icon {
    -fx-icon-color: #7f8cbd;
}

/*Notification body*/
.notification-body {
    -fx-font-family: "Poppins";
    -fx-min-height: 60px;
    -fx-max-height: 120px;
    -fx-text-fill: #000;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-box-border: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-cursor: default;
}
.notification-body .content {
    -fx-cursor: default;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: #fff;
}

/**
    ==========================
    ======== PROMPT ==========
    ==========================
*/

/*prompt body*/
/*Notification body*/
.prompt-body {
    -fx-font-family: "Poppins";
    -fx-pref-width: 250px;
    -fx-min-height: 50px;
    -fx-max-height: 150px;
    -fx-pref-height: 100px;
    -fx-text-fill: #000;
    -fx-font-size: 12px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-box-border: transparent;
    -fx-padding: 5px 3px 5px 3px;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: #fff;
    -fx-cursor: default;
}
.prompt-body .content {
    -fx-cursor: default;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: #fff;
}

/**
    ==========================
    ======== DIALOG ==========
    ==========================
*/

/*dialog body*/
.dialog-body {
    -fx-font-family: "Poppins";
    -fx-min-width: 250px;
    -fx-text-fill: #000;
    -fx-padding: 3px;
    -fx-background-color: inherit
}
.dialog-body .dialog-label {
    -fx-font-size: 12px !important;
    -fx-font-weight: 300;
    -fx-background-color: transparent;
}
.dialog-body .dialog-divider {
    -fx-pref-height: 10px;
}
.dialog-body .dialog-text {
    -fx-pref-width: 250px;
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 12px;
    -fx-text-fill: #000;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-box-border: transparent;
    -fx-padding: 2px;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: transparent transparent #e3e3e3 transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: white;
}
.dialog-body .dialog-text.text {
    -fx-min-height: 30px;
    -fx-padding: 3px;
    -fx-background-color: inherit;
    -fx-border-color: transparent transparent #e4e4e4 transparent;
}
.dialog-body .dialog-text.text-area {
    -fx-min-height: 60px;
    -fx-pref-height: 80px;
    -fx-effect: none;
}
.dialog-body .dialog-text.text-area .content {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: #fff;
}


/* Target the ScrollPane of the TextArea */
.scroll-pane {
    -fx-background-color: transparent; /* Makes the ScrollPane background transparent */
}

/* Style the vertical scrollbar */
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent; /* Background of the scrollbar track */
    -fx-pref-width: 15px; /* Width of the vertical scrollbar */
}

/* Style the horizontal scrollbar */
.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: transparent; /* Background of the scrollbar track */
    -fx-pref-height: 15px; /* Height of the horizontal scrollbar */
}

/* Style the scrollbar thumb (the draggable part) */
.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #e3e3e3; /* Color of the thumb */
    -fx-cursor: hand;
}

/* Style the scrollbar increment and decrement buttons */
.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-pref-height: 15px;
    -fx-pref-width: 15px;
    -fx-cursor: hand;
    -fx-padding: 0;
    -fx-alignment: center;
}
.scroll-pane .scroll-bar .increment-button:hover,
.scroll-pane .scroll-bar .decrement-button:hover {
    -fx-background-color: transparent; /* Color of the thumb */
}

/* Style the scrollbar track */
.scroll-pane .scroll-bar .track {
    -fx-background-color: transparent; /* Background color of the track */
}

/* On hover, change the scrollbar thumb color */
.scroll-pane .scroll-bar .thumb:hover {
    -fx-background-color: #e4e4e4b9; /* Hover color for thumb */
}
